body {
    text-align:center;
}
div {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
table {
    text-align:center;
    margin: auto;
}

input {
    text-align:center;
    width: 70px;
}